@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/background.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.5s ease;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #000;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height 0.2s ease;
  z-index: 1;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 480px;
  margin-top: 30px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
  transform: translateY(10px);
}

.form-box h2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
  transform: translateY(-50%);
  font-weight: 500;

}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
  left: 5px;
  color: #ffffffb7;
  font-size: 0.8rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #ffffffb7;
  font-size: 1.2rem;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9rem;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #161515;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #ffffffb7;
  text-decoration: underline;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #0c0b0b;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  z-index: 2;
}

.btn {
  width: 100%;
  height: 45px;
  background: #0c0b0b;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #131111;
  color: #fff;
}

.login-register {
  font-size: .9rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
